*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #0f0f0f; */
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Bebas Neue;
    background: #c6d5c6;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
}

.logo, .nav-item {
    margin: 2em;
    font-weight: 400;
    font-size: 1.5vw;
}

h1 {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 500;
    font-size: 10vw;
    line-height: 1%;
    letter-spacing: 1%;
    text-transform: uppercase;
}

.slide-in, .slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0f0f0f;
}

.slide-in {
    transform-origin: bottom;
}

.slide-out {
    transform-origin: top;
}

